*{
    font-family: Poppins, 'san-serif' ;
    font-size: 18px;
    color: #333;
}
body{
    background-color: #FFCE63;
    height: 100vh;
    overflow: hidden;
}
#one{
    position: absolute;
    width: 400px;
    height: 400px;
    top: -150px;
    right: -150px;
    background-color: #E2410A;
    opacity: 70%;
    z-index: -1;
    filter: blur(90px);
}
#two{
    position: absolute;
    width: 550px;
    height: 550px;
    bottom: -150px;
    left: -150px;
    background-color: #E2410A;
    opacity: 70%;
    z-index: -1;
    filter: blur(90px);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100vh;
    background-color: #fff;
}
.capitalLetter{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 0px;
}
.status{
    text-align: center;
    margin: 0;
    color: #666;
}
.card{
    background: rgba(255, 206, 99, 0.3);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 40px;
    width: 800px;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.output{
    margin-top: 30px;
}
.date{
    font-size: 24px;
    font-weight: bold;
}
.planContainer{
    margin-top: 30px;
    text-align: center;
}
#planName{
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 18px;
}
.plan{
    font-weight: lighter;
    color: #404040;
}
.interact{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
button#cancle{
    border-radius: 20px;
    width: 275px;
    height: 55px;
    border: none;
    margin-right: 20px;
    background-color: #C0390A;
    color: #fff;
}
button#next{
    border-radius: 20px;
    width: 275px;
    height: 55px;
    border: none;
    margin-left: 20px;
    background-color: #2D4863;
    color: #fff;
}

